{%extends 'pages/base.html'%}
{%block title%}Read{%endblock%}
{%block content%}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Computador</th>
        <th scope="col">Entidade</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
        {% for contact in page_obj %}
      <tr>
        <th scope="row">1</th>
        <td> <a class="text-decoration-none btn-outline-secondary"href="{%url 'inventory:item_update' contact.id %}">{{ contact.name|upper }}</a></td>
        <td>{{ contact.name|upper }}</td>
        <td>Ativo</td>
      </tr>
     {%endfor%}
    </tbody>
  </table>
 
<nav aria-label="Page navigation example">
  <ul class="pagination">

    {% if page_obj.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="?page=1">&laquo; Primeira</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
    {% endif %}

      
    <li class="page-item disabled">
      <a class="page-link" href="#"> Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</a>
    </li>
  
    <li class="page-item">
    {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Proximo</a>
           
        {% endif %}
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>

      </li>
  </ul>
</nav>

{%endblock%}