{%load static %}
<html>
<head>
    <title>Report</title> 
     
<body>
    <div class="cantainer-sm text-center">
        <h1 class="table-dark">Aset Control Report</h1>
    </div>
     
    <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Computer</th>
            <th scope="col">Locality</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>PC001</td>
            <td>RN</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>PC002</td>
            <td>RN</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">PC005</td>
            <td>Not</td>
          </tr>
        </tbody>
      </table>
      
     
   
</body>

</html>

